@import '../../bootstrap-customize.scss'
.main_btn
    background: map-get($theme-colors, 'Blood')
    white-space: nowrap
    border-radius: 0
    color:#fff
    flex: 0 1 30%
    max-width: 100px
    border: none
    min-width: fit-content
    font-size: calc(.5rem + 1vw)
    padding: calc(.5rem + 0.3vw)
    transition: transform .3s ease-in-out
    &:hover, &:focus, &:focus+.btn
        color: #fff
        box-shadow: none
        .iconDisplacement
            display: inline-block
            transform: translateX(60%)
            transition: all .3s ease-in-out
.bgFade
    &:hover
        filter: brightness(.9)