.storyItem
    padding: 10% 3%
    background: #000000
    .storyPresentation-img
        position: relative
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 2
@media ( max-width: 980px )
    .article
        position: relative
        top: 25px
        z-index: 3
        padding: unset
